<div id='list-<%= list.id %>' class='item list'>
  <div class='item-actions left'>
  </div>
  <span class='item-content'>
    <%= link_to list_things_path(list), class: 'list-link' do %>
      <span class='list-title'><%= list.title %></span>
      <%= "[#{list.things.today.size}]" if list.things.today.any? %>
    <% end %>
  </span>
  <div class='item-actions right'>
    <%= link_to list_things_path(list), class: 'list-link item-action neutral' do %>
      <span class='icon-arrow-right'></span>
    <% end %>
  </div>
</div>
