<div id='thing-<%= thing.id %>' class='item'>
  <div class='item-actions left'>
    <%= link_to unprocrastinate_list_thing_path(@list, thing), method: :post, tabindex: -1, class: 'procrastinate-thing-link item-action neutral', remote: true do %>
      <span class='icon-arrow-left'></span>
    <% end %>
  </div>
  <span class='thing-description item-content' data-thing-id=<%= thing.id %> contenteditable='true'><%= thing.description %></span>
  <div class='item-actions right'>
    <%= link_to list_thing_path(@list, thing), method: :delete, tabindex: -1, class: 'delete-thing-link item-action negative', remote: true do %>
      <span class='icon-close'></span>
    <% end %>
  </div>
</div>
