<% content_for :nav_left do %>
  <%= link_to lists_path, tabindex: -1, class: 'text-link' do %>
    Back to Lists
  <% end %>
<% end %>

<% content_for :nav_right do %>
  <%= link_to procrastinated_list_things_path(@list), tabindex: -1, class: 'text-link' do %>
    Tomorrow [<%= content_tag :span, @procrastinated_size, id: 'procrastinated-number' %>]
  <% end %>
<% end %>

<div class='item-wrapper'>
  <h1><%= @list.title %></h1>
  <div class='delete-list-link-wrapper'>
    <%= link_to 'remove list', list_path(@list), class: 'delete-list-link', method: :delete %>
  </div>
  <h4 class='things-finished-today'><%= finished_today_string(@list.things.finished_today.size) %></h4>
	<%= render @things %>
  <div class='item thing'>
    <div id='new-thing' class='item-create' data-placeholder='Add a thing' data-list-id=<%= @list.id %> contenteditable="true"></div>
  </div>
</div>
