<!DOCTYPE html>
<html>
<head>
  <title>The Thing Ninja</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'ninja.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div id='nav-container'>
      <div id='nav-left'>
        <%= yield :nav_left %>
      </div>
      <div id='nav-right'>
        <%= yield :nav_right %>
      </div>
    </div>
  </nav>
  <div id='wrapper'>
    <div id='container'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
